.container{
    width:100px;
    height:100px;
    background-color:red;
    transition-property:all;
    transition-duration: 5s;
    transition-delay: 3s;
    
}
.container:hover{
    width:200px;
    height:200px;
    border-radius:50%;
}